{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4 content">
    <h2>Menu Management</h2>
    <div class="mb-4">
        <h3>Add Food Item in Category {{ category.Category_Name }}</h3>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="text-danger small">
                        {{ field.errors|striptags }}
                    </div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Add/Update Food Item</button>
        </form>
    </div>
</div>
{% endblock %}
