{% extends 'customer_base.html' %}
{% load static %}

{% block nav_buttons %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'all_menus' table_id restaurant_id %}">All Menus</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'view_cart' table_id restaurant_id menu_id %}">View Cart</a>
    </li>
{% endblock %}

{% block content %}
<div class="container mt-4 content">
    <div class="mb-4">
        <h3>Add Food Item {{ item.Item_Name }}</h3>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="text-danger small">
                        {{ field.errors|striptags }}
                    </div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Add/Update Food Item</button>
        </form>
    </div>
</div>
{% endblock %}
