{% extends "customer_base.html" %}
{% load static %}

{% block custom_stylesheet %}
    <link rel="stylesheet" href="{% static 'tabletapapp/dashboard.css' %}">
{% endblock %}

{% block nav_buttons %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'all_menus' table_id restaurant.id %}">All Menus</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'view_cart' table_id restaurant.id menu.id %}">View Cart</a>
    </li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="sidebar col-3 col-lg-3 col-xl-2">
                <div class="sidebar-content" id="sidebarContent">
                    {% if categories %}
                        {% for category in categories %}
                            <a href="{% url 'customer_menu' table_id menu.id category.id %}"
                                class="{% if active_category.id == category.id %}active{% endif %}">
                                {{ category.Category_Name }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-9 px-4">
                <h2>Menu: {{ menu.Menu_Name }}</h2>
                {% if categories %}
                    <h3>Category: {{ active_category.Category_Name }}</h3>
                    {% if items %}
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4" id="menuItems">
                            {% for item in items %}
                            <div class="col">
                                <div class="card h-100 d-flex flex-column justify-content-between">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title">{{ item.Item_Name }}</h5>
                                        <p class="card-text">{{ item.Description }}</p>
                                        <p class="card-text">${{ item.Price }}</p>
                                        <div class="mt-auto d-flex justify-content-end gap-2 pt-3">
                                            <a href="{% url 'add_order_item' table_id menu.id item.id %}"
                                               class="btn btn-sm btn-warning" 
                                               data-bs-toggle="tooltip" 
                                               title="Update">
                                                <i class="bi bi-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% else %}
                    <div class="mt-3"><p> There is nothing in the menu.</p></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}