.form-container {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.navbar .btn-primary {
    background-color: #fa7000; /* Strong Orange */
    border-color: #fa7000;
    color: white;
}

.navbar .btn-primary:hover {
    background-color: darkorange;
    border-color: darkorange;
}

.btn {
    background-color: #fa7000; /* Strong Orange */
    color: white;
    border-color: #fa7000;
}

.btn:hover {
    background-color: darkorange;
    border-color: darkorange;
}

.btn-outline-secondary {
    border-color: #fa7000; /* Orange border for Google button */
    color: black;
}
